body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: auto 0;
  padding: 10px;
}

.navbar {
  padding: 20px 0 20px 20px;
}

.navbar-nav {
  flex-direction: row !important;
}

.nav-item {
  margin: 0 10px;
}

/* Login Signup Add New Form START*/
#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#login-form label {
  margin-right: 10px;
}

#login-form input {
  margin-bottom: 20px;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#login-form button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0077ff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

#login-form button:hover {
  background-color: #0054cc;
}

#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#signup-form label {
  margin-right: 10px;
}

#signup-form input {
  margin-bottom: 20px;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#signup-form button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0077ff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

#signup-form button:hover {
  background-color: #0054cc;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 50%;
  padding: 20px;
  background-color: #f5f5f5;
}

input,
button {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #4b8e4e;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.form-submit-btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0077ff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

/* ASK ABOUT THIS */
#phone {
  margin-right: 40px;
}

/* Login Signup Add New Form END*/

.no-contacts {
  text-align: center;
  font-weight: bold;
  padding: 12px;
}

/* Contact List START*/
.add-new-contact-button {
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
}

.add-new-contact-button:hover {
  background-color: #006d85;
}

.table {
  padding: 0;
}

.contact-table {
  width: calc(100% - 40px);
  margin: 0 20px;
  border: solid black 2px;
}

.table-headers {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.table-contact-info:nth-child(even) {
  background-color: #f2f2f2;
}

.table-contact-info:hover {
  background-color: #2196f3;
}

.header-item {
  font-weight: bold;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-row {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.break-all {
  overflow-wrap: anywhere;
  word-break: break-all;
  word-wrap: break-word;
}

.edit-button,
.delete-button {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit-button:hover,
.delete-button:hover {
  opacity: 0.8;
}

.edit-button {
  background-color: #4caf50 !important;
  margin-right: 10px;
}

.delete-button {
  background-color: #f44336 !important;
}

@media (max-width: 700px) {
  .list {
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  .contact-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .table {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
  }

  .table-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border: 2px solid black;
  }

  .table-header-column {
    display: none;
  }

  .table-width-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    padding: 0 5px;
  }

  .header-item {
    font-weight: bold;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    display: block;
    --column-width-min: 90px;
  }

  .contact-information {
    width: 100%;
  }

  .edit,
  .delete {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
} */

/* .contact-table {
  width: calc(100% - 100px);
  margin: 0 50px;
  border: solid black 2px;
}

th,
td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #2196f3;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-new-contact-button {
  background-color: #2196f3;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}



.edit-button,
.delete-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.edit-button,
.delete-button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #c62828;
}


.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
*/

/* 
.contact-information {
  display: block;
}

.header-item {
  display: block;
  --column-width-min: 10em;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
} */

/* @media (max-width: 700px) {
  .contact-information {
    width: 100%;

    overflow-wrap: anywhere;
    word-break: break-all;
    word-wrap: break-word;
    display: inline-block;
    border: solid black 1px;
  }
  .table-row {
    display: block;
  }
  .contact-span {
    overflow-wrap: anywhere;
  }

  .header-item {
    min-width: 70px;
  }
}

.table-header-column {
  display: inline-block;
}

.table-contact-column {
  display: inline-block;
}  */

/* .add-new-contact-button {
  display: none;
} */

@media (min-width: 1000px) {
  .stack {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* .table-width-row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}

/* @media screen and (min-width: 768px) {
  .table-header-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .table-row {
    display: table-row;
    border-bottom: none;
    padding: 0;
  }

  .header-item {
    display: table-cell;
    font-weight: bold;
    text-align: left;
    width: auto;
    margin-bottom: 0;
  }

  .contact-information {
    display: table-cell;
    width: auto;
  }

  .edit,
  .delete {
    justify-content: center;
  }

  .edit-button,
  .delete-button {
    font-size: 16px;
    margin-left: 20px;
  }
} */
