body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c8caca;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: auto 0;
  padding: 10px;
}

.navbar {
  padding: 20px 0 20px 20px;
  background-color: #43605c !important;
}

.navbar-nav {
  flex-direction: row !important;
}

.nav-item {
  margin: 0 10px;
}

#login-form,
#signup-form,
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#login-form label,
#signup-form label,
.contact-form label {
  margin-right: 10px;
}

#login-form input,
#signup-form input,
.contact-form input {
  margin-bottom: 10px;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#login-form button,
#signup-form button,
.submit-btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #7f908e;
  color: #1a2220;
  font-weight: bold;
  cursor: pointer;
}

#login-form button:hover,
#signup-form button:hover,
.submit-btn:hover {
  background-color: #68817b;
}

.contact-form {
  margin: 50px auto;
  width: 50%;
  padding: 20px;
  background-color: #abb9b6;
}

input,
button {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.error {
  display: block;
  color: red;
  font-size: 14px;
  margin-top: 4px;
  font-weight: bold;
}

.red-border {
  border: 2px solid red !important;
}

.no-contacts {
  text-align: center;
  font-weight: bold;
  padding: 12px;
}

.table-row-no-contacts {
  grid-template-columns: 1fr;
}

.add-new-contact-button {
  background-color: #7f908e;
  color: #1a2220;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
}

.add-new-contact-button:hover {
  background-color: #68817b;
}

.table {
  padding: 0;
  list-style-type: none;
}

.contact-table {
  width: calc(100% - 40px);
  margin: 0 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.table-headers {
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-contact-info:nth-child(even) {
  background-color: #dae0de;
}

.table-contact-info:hover {
  background-color: #68817b;
}

.header-item {
  font-weight: bold;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-row .contact-information {
  display: flex;
  align-items: center;
}

.table-row {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.break-all {
  overflow-wrap: anywhere;
  word-break: break-all;
  word-wrap: break-word;
}

.edit-button,
.delete-button {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit-button:hover,
.delete-button:hover {
  opacity: 0.8;
}

.edit-button {
  background-color: #57736c !important;
  margin-right: 10px;
}

.delete-button {
  background-color: #73575e !important;
}

@media (max-width: 700px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .container-fluid {
    display: block !important;
  }

  .list {
    align-items: center;
    justify-content: center;
    padding: 0 15px 15px 15px;
    font-family: Arial, sans-serif;
  }

  .contact-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .table {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
  }

  .table-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border: 2px solid black;
  }

  .table-header-column {
    display: none;
  }

  .table-width-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    padding: 0 5px;
  }

  .header-item {
    font-weight: bold;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    display: block;
    --column-width-min: 90px;
  }

  .contact-information {
    width: 100%;
  }

  .edit,
  .delete {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    width: 100%;
    margin: 20px auto;
  }
}

@media (min-width: 1000px) {
  .stack {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
